{% extends 'Admin/Smart/blank_.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/documents/">Документы</a></li>
    <li>{% if item.isNew %}Добавление документа{% else %}Редактирование документа{% endif %}</li>
</ol>
{% endblock %}

{% block content %}

<section class="well">
    <form class="smart-form" method="post" enctype="multipart/form-data" action="/admin/documents/save">
        {% if item.isNew %}
        <header>Добавление документа</header>
        {% else %}
        <input type="hidden" name="__id" value="{{item.Pk}}">
        <header>Редактирование документа</header>
        {% endif %}
        <fieldset>
            <section>
                <label class="label">Заголовок документа</label>
                <label class="input">
                    <input type="text" name="title" value="{{item.title}}">
                </label>
            </section>
            <section>
                <label class="label">Категория</label>
                <label class="select">
                    {% if item.isNew %}
                    {{ selectTreeByModel("App\\Modules\\Documents\\Models\\Category", 0, {"null":true}, {"name":"category"}) }}
                    {% else %}
                    {{ selectTreeByModel("App\\Modules\\Documents\\Models\\Category", item.category.Pk, {"null":true}, {"name":"category"}) }}
                    {% endif %}
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">Текст документа</label>
                <label class="textarea textarea-resizable">
                    <t4:editor name="text">{{item.text}}</t4:editor>
                </label>
            </section>
            <section>
                <label class="label">Файлы</label>

                <div class="row" style="margin: inherit">
                    {% for file in item.files %}
                    <div class="col-sm-3" style="padding: 2em;">
                        <a href="#" class="item-file-delete" data-id="{{file.Pk}}"><i class="fa fa-trash-o fa-2x text-danger"></i>&nbsp;</a>
                        <a href="{{file.file}}" target="_blank"><i class="fa fa-file-o fa-2x"></i> {{file.file}}</a>
                    </div>
                    {% endfor %}
                </div>

                <ul class="list-group" id="uploads">
                    <li class="list-group-item reserve" style="display: none">{{element('file', 'files[]', {'text':'Выберите файл'})}}</li>
                    <li class="list-group-item">{{element('file', 'files[]', {'text':'Выберите файл'})}}</li>
                </ul>
                <a href="#" onclick="$('#uploads li.reserve').clone().removeClass('reserve').appendTo('#uploads').show();return false;">
                    <button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Еще один файл</button>
                </a>
            </section>
        </fieldset>
        <footer>
            <input id="redirectAfterSave" type="hidden" name="redirect" value="0" />
            <button type="submit" class="btn btn-primary" onclick="$('#redirectAfterSave').val(1)">Сохранить и посмотреть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            <a href="/admin/documents/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>
        </footer>
    </form>
</section>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

    });
</script>
{% endblock %}